html {
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


body {
    margin: 0px;
    background-color: rgb(47 47 30);
    font-weight: 500;
}
header {
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 170px;
    position: relative;
    z-index: 101;
    background: rgb(244 247 165);
    border-bottom: 4px solid #fffe00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header nav {
    display: flex;
    justify-content: center; /* Alinear el contenido horizontalmente al centro */
    align-items: center; /* Alinear el contenido verticalmente al centro */
}
header nav div {
    margin-top: 10px;
    margin-right: 100px;
}
header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
header nav ul li{
    display: inline;
    margin-right: 100px;
    font-size: 30px;
    font-family: "Goudy Stout", sans-serif;
}
header nav ul li a {
    color: black;
    text-decoration: none;
}
.contenido{
    display: none;
    padding: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333; /* Cambia el color de fondo si lo deseas */
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Espaciado interior en la parte superior e inferior */
    z-index: 102; /* Asegura que el pie de página esté encima del contenido, pero debajo del encabezado */
}
/* footer a{
    color: #fffe00;
            text-decoration: none;
            margin: 0 10px;
} */
.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    display: inline-block;
    margin: 0 20px;
    overflow: hidden;
}

.social-links img {
    width: 200px; /* Ajusta el tamaño de los logotipos según tus necesidades */
    height: 50px;
}